@model PagedList.IPagedList<SimpleShop.Models.ViewsModels.OrdersPageVM>
@using PagedList.Mvc;

@{
	ViewBag.Title = "Index";
}

<h2>Zamówienia</h2>
@using (Html.BeginForm("Index", "Payment", FormMethod.Get))
{
	<div class="input-group search-container">
		<span class="input-group-btn">
			<button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
		</span>
		<input type="text" name="search" class="form-control" placeholder="Wyszukaj ...">
	</div>
}
<table class="table table-bordered table-hover">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.First().ApplicationUser.Email)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.First().Product.Name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.First().Price)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.First().Quantity)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.First().Payment)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.First().Date)
		</th>
		<th>
			Operacje
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ApplicationUser.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Product.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Price)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Quantity)
			</td>
			<td>
				@if (item.Payment)
				{
					<b>Tak</b>
				}
				else
				{
					<b>Nie</b>
				}
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Date)
			</td>
			<td>
				<a class="btn btn-warning" href="@Url.Action("Change",new {id = item.OrderId})">Zmień Status Płatności</a>
				<a class="btn btn-primary" href="@Url.Action("Shipping",new {id = item.OrderId})">Dane Wysyłki</a>

			</td>
		</tr>
	}

</table>
<br />
			Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

			@Html.PagedListPager(Model, page => Url.Action("Index", new { page, search = ViewBag.Search }))