@using SimpleShop.Areas.Client.Models.Product
@model ProductViewModel

@{
	ViewBag.Title = "Details";
}
<h2>@Html.DisplayFor(model => model.Name)</h2>

<div class="row">
	<div class="col m9">
		<img class="img-details" src="@Url.Content("~/UploadedFiles/" + Model.Img)" alt="" />
		<h4 class="text-center">
			@Html.DisplayNameFor(model => model.Description)
		</h4>
		<p>@Html.DisplayFor(model => model.Description)</p>
	</div>
	<div class="col m3">
		<div class="card">
			<div class="card-content">

				@Html.DisplayNameFor(model => model.Price) : <b>@Html.DisplayFor(model => model.Price)</b><br />
				@Html.DisplayNameFor(model => model.Quantity) : <b>@Html.DisplayFor(model => model.Quantity)</b>
				<hr />
				@if (Model.Quantity != 0)
				{
					using (Html.BeginForm(MVC.Client.Cart.Add(), FormMethod.Get))
					{
						<div class="row">
							<div class="input-field col s12">
								@Html.HiddenFor(model => model.ProductId)
								<label for="orderQuantity">Ilość Sztuk</label>
								<input type="number" id="orderQuantity" name="orderQuantity" min="1" max="@Model.Quantity" value="1">
							</div>
						</div>
						<div class="row">
							<button type="submit" class="btn waves-effect waves-light col m10 offset-m1">
								<i class="material-icons right">
									add_shopping_cart
								</i> Dodaj do Koszyka
							</button>
						</div>

					}
				}
				else
				{
					<span class="red-text">Brak towaru</span>
				}
			</div>
		</div>
	</div>

</div>


