@using SimpleShop.T4MVC
@using Scripts = SimpleShop.T4MVC.Scripts
@model SimpleShop.Areas.Admin.Models.Products.ProductVM

@{
	ViewBag.Title = "Create";
}



<div class="form-container z-depth-2">
	@using (Html.BeginForm(MVC.Product.Edit(), FormMethod.Post))
	{

		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true, "", new { @class = "red-text" })
		<div class="row"><h3 class="center-align">Edytuj Produkt</h3></div>
		<div class="row">
			<div class="input-field col s6">
				<i class="material-icons prefix">border_color</i>
				@Html.LabelFor(m => m.Name)
				@Html.TextBoxFor(m => m.Name)
				@Html.ValidationMessageFor(m => m.Name, "", new { @class = "red-text" })
			</div>
			<div class="input-field col s3">
				<i class="material-icons prefix">monetization_on</i>
				@Html.LabelFor(m => m.Price)
				@Html.TextBoxFor(m => m.Price)
				@Html.ValidationMessageFor(m => m.Price, "", new { @class = "red-text" })
			</div>
			<div class="input-field col s3">
				<i class="material-icons prefix">
					import_export

				</i>
				@Html.LabelFor(m => m.Quantity)
				@Html.TextBoxFor(m => m.Quantity)
				@Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "red-text" })
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">description</i>
				@Html.LabelFor(m => m.Description)
				@Html.TextAreaFor(m => m.Description, new { @class = "materialize-textarea" })
				@Html.ValidationMessageFor(m => m.Description, "", new { @class = "red-text" })
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">apps</i>
				@Html.DropDownListFor(model => model.CategoryId, Model.Categories)
				@Html.ValidationMessageFor(model => model.Categories, "", new { @class = "red-text" })
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<button class="waves-effect waves-light btn-large btn-submit" type="submit"><i class="material-icons right">save</i> Save</button>
			</div>
		</div>
	}
</div>



@section Scripts {
	@Scripts.jquery_validate_js
