@model SimpleShop.Models.ViewsModels.UserAddressVM

@{
    ViewBag.Title = "Address";
}

<h2>Address</h2>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.NameAndSurname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameAndSurname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

    </dl>
</div>
<p>
	<a class="waves-effect waves-light btn btn-small" href="@Url.Action("SetAddress")"><i class="material-icons">settings</i>Ustaw/Zmień Dane Adresowe</a>
</p>
