
@using SimpleShop.Areas.Admin.Models.Categories
@model IEnumerable<CategoryViewModel>


@{
	ViewBag.Title = "Index";
}

<h2>Lista Kategorii Produktów</h2>


<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			Operacje
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.Button(MVC.Admin.Categories.Edit(item.Id), "", "edit", ButtonSize.small);
				@Html.Button(MVC.Admin.Categories.Delete(item.Id), "", "delete", ButtonSize.small);
			</td>
		</tr>
	}

</table>
<p>
	@Html.Button(MVC.Admin.Categories.Create(), "Dodaj", "add_box", ButtonSize.large);
</p>