@using SimpleShop.Helpers
@using SimpleShop.T4MVC
@model IEnumerable<SimpleShop.Models.Category>

@{
	ViewBag.Title = "Index";
}

<h2>Lista Kategorii Produktów</h2>


<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>
			Operacje
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.Button(MVC.Categories.Edit(item.CategoryId), "", "edit", ButtonSize.small)
				@Html.Button(MVC.Categories.Delete(item.CategoryId), "", "delete", ButtonSize.small)
			</td>
		</tr>
	}

</table>
<p>
	@Html.Button(MVC.Categories.Create(), "Dodaj", "add_box", ButtonSize.large)
</p>