@model IEnumerable<SimpleShop.Models.ViewsModels.CartVM>

@{
	decimal fullPrice = 0;
	decimal shippingPrice = 10;
	fullPrice += shippingPrice;
}
<h4>Koszyk</h4>
@if (!Model.Any())
{
	<p>W koszyku nie ma żandych przedmiotów</p>
}
else
{
	<table class="highlight">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Product.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.OrderedQuantity)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Product.Price)
				</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			@foreach (var item in Model)
			{


				fullPrice += item.Product.Price * item.OrderedQuantity;
				<tr>
					<td>
						<a href="@Url.Action(MVC.Product.Details(item.CartItemId))">@Html.DisplayFor(modelItem => item.Product.Name)</a>
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.OrderedQuantity)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Product.Price)
					</td>
					<td>
						<a class="waves-effect waves-light btn btn-small" href="@Url.Action(MVC.Cart.Remove(item.CartItemId))"><i class="material-icons">remove_shopping_cart</i></a>
					</td>
				</tr>
			}

		</tbody>
	</table>
	<div class="row">
		<h5>Suma : <b>$@fullPrice</b></h5>
	</div>

}
<div class="row">

	@if (Model.Any())
	{
		<a class="waves-effect waves-light btn btn-large" href="@Url.Action(MVC.Cart.Complete())">
			<i class="material-icons left">
				account_balance_wallet
			</i>Pay
		</a>
	}
	<a class="waves-effect waves-light btn btn-large" href="@Url.Action(MVC.Product.Index())">
		<i class="material-icons right">
			arrow_forward
		</i> Continue
	</a>
</div>
