@model SimpleShop.Areas.Client.Views.Accounts.RegisterViewModel
@{
	ViewBag.Title = "Register";
	Layout = "_LayoutLogin.cshtml";
}


<div class="row">
	<div class="col s12 m4 offset-m4">
		<section id="loginForm" class="login-form z-depth-3">
			<h4 class="center-align">Register</h4>
			@using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.AntiForgeryToken()
				@Html.ValidationSummary(true, "", new { @class = "red-text" })
				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">account_circle</i>
						@Html.LabelFor(m => m.Email)
						@Html.TextBoxFor(m => m.Email)
						@Html.ValidationMessageFor(m => m.Email, "", new { @class = "red-text" })
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">lock</i>
						@Html.LabelFor(m => m.Password)
						@Html.PasswordFor(m => m.Password)
						@Html.ValidationMessageFor(m => m.Password, "", new { @class = "red-text" })
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<i class="material-icons prefix">lock</i>
						@Html.LabelFor(m => m.ConfirmPassword)
						@Html.PasswordFor(m => m.ConfirmPassword)
						@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "red-text" })
					</div>
				</div>

				<div class="row">
					<div class="input-field col offset-m4 s4">
						<button class="btn btn-large waves-effect waves-light" type="submit" name="action">
							Submit
							<i class="material-icons right">send</i>
						</button>
					</div>
				</div>

			}
		</section>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
