@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "right hide-on-med-and-down" }))
	{
		@Html.AntiForgeryToken()

		<script>
			$(document).ready(function () {
				$.ajax({
					type: "GET",
					url: "Cart/Counter",
					contentType: "application/json;charset=utf-8",
					dataType: "json",
					success: function (result) {
						$("#cart-counter").html(result);
					}
				});
			});

		</script>

		<li>
			<a href="@Url.Action("Index", "Cart")">
				<span id="cart-counter" class="new badge red" data-badge-caption="Cart"></span> 			
			</a>
		</li>
		<li><a class="dropdown-trigger" href="#!" data-target="dropdown1">
				<img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOvp8EmhgqtExf608WzkT15oNmWrIDgx-MlopQvncKZC3r8jML" alt="" class="circle img-avatar">
				@User.Identity.Name<i class="material-icons right">arrow_drop_down</i>

			</a>
			<ul id='dropdown1' class='dropdown-content'>
				<li><a href="@Url.Action( "Index", "Manage")">Manage</a></li>
				<li><a href="@Url.Action( "Address", "Account")">Address</a></li>
				<li>
					<a href="javascript:document.getElementById('logoutForm').submit()">LogOut</a>
				</li>
			</ul>
		</li>

	}


}
else
{

	<li>
		<a href="@Url.Action("Login", "Account")">
			<i class="material-icons left">person</i> Login
		</a>
	</li>
	<li>
		<a href="@Url.Action( "Register", "Account")">
			<i class="material-icons left">person_add</i> Register
		</a>
	</li>

}
