@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
		@Html.AntiForgeryToken()
		<script>
			$( document ).ready(function() {
				$.ajax({
					type: "GET",
					url: "Cart/Counter",
					contentType: "application/json;charset=utf-8",
					dataType: "json",
					success: function (result) {
						$("#cart-counter").val = result;
					},
				});
			});

		</script>
		 
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a href="@Url.Action("Index", "Cart")"><span id ="cart-counter" ></span> Koszyk</a>
			</li>

			<li>
				@Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
			</li>
			<li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
		</ul>
	}
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		<li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
