<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper container">
			<a href="#!" class="brand-logo">Logo</a>
			<a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				<li>@Html.ActionLink("Home", "Index", "Home")</li>
				<li>@Html.ActionLink("Sklep", "Index", "Product")</li>
				@if (Request.IsAuthenticated && User.IsInRole("Administrator"))
				{
					<li>@Html.ActionLink("Kategorie", "Index", "Categories")</li>
					<li>@Html.ActionLink("Płatności", "Index", "Payment")</li>

				}
				@if (Request.IsAuthenticated && !User.IsInRole("Administrator"))
				{
					<li>@Html.ActionLink("Moje Produkty", "Index", "Orders")</li>

				}
				<li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
		
				@Html.Partial("_LoginPartial")

			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-nav">
		<li>@Html.ActionLink("Home", "Index", "Home")</li>
		<li>@Html.ActionLink("Sklep", "Index", "Product")</li>
		@if (Request.IsAuthenticated && User.IsInRole("Administrator"))
		{
			<li>@Html.ActionLink("Kategorie", "Index", "Categories")</li>
			<li>@Html.ActionLink("Płatności", "Index", "Payment")</li>

		}
		@if (Request.IsAuthenticated && !User.IsInRole("Administrator"))
		{
			<li>@Html.ActionLink("Moje Produkty", "Index", "Orders")</li>

		}
		<li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
		@Html.Partial("_LoginPartial")

	</ul>


</div>
