@model SimpleShop.Models.ViewsModels.ProductViewModel

@{
	ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<hr/>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<img class="img-details" src="@Url.Content("~/UploadedFiles/" + Model.Img)" alt="" />
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-body">
					@Html.DisplayNameFor(model => model.Price) : <strong>@Html.DisplayFor(model => model.Price)</strong>
				</div>
			</div>
			<a class="btn btn-lg btn-danger" href="http://www.jquery2dotnet.com">Dodaj do Koszyka <i class="glyphicon glyphicon-shopping-cart"></i></a>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				@Html.DisplayNameFor(model => model.Description)
			</h3>
			<p>@Html.DisplayFor(model => model.Description)</p>
		</div>
	</div>
	</div>
	<p>
		@Html.ActionLink("Edit", "Edit", new { id = Model.ProductId
			}) |
		@Html.ActionLink("Back to List", "Index")
	</p>
