@model SimpleShop.Models.ViewsModels.ProductVM

@{
	ViewBag.Title = "Details";
}
<h2>@Html.DisplayFor(model => model.Name)</h2>
<a class="btn btn-primary" href="@Url.Action("Index", "Product")"><i class="glyphicon glyphicon-arrow-left"></i> Powrót </a>
<hr/>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<img class="img-details" src="@Url.Content("~/UploadedFiles/" + Model.Img)" alt="" />
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-body">
					@Html.DisplayNameFor(model => model.Price) : <b>@Html.DisplayFor(model => model.Price)</b><br />
					@Html.DisplayNameFor(model => model.Quantity) : <b>@Html.DisplayFor(model => model.Quantity)</b>
					<hr />
					<a class="btn btn-lg btn-warning" href="@Url.Action("Add", "Cart", new {id = Model.ProductId})">Dodaj do Koszyka <i class="glyphicon glyphicon-shopping-cart"></i></a>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				@Html.DisplayNameFor(model => model.Description)
			</h3>
			<p>@Html.DisplayFor(model => model.Description)</p>
		</div>
	</div>
</div>

	