@model SimpleShop.Models.ViewsModels.ProductVM

@{
	ViewBag.Title = "Details";
}
<h2>@Html.DisplayFor(model => model.Name)</h2>
<a class="btn btn-primary" href="@Url.Action("Index", "Product")"><i class="glyphicon glyphicon-arrow-left"></i> Powrót </a>
<hr />
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<img class="img-details" src="@Url.Content("~/UploadedFiles/" + Model.Img)" alt="" />
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-body">
					@Html.DisplayNameFor(model => model.Price) : <b>@Html.DisplayFor(model => model.Price)</b><br />
					@Html.DisplayNameFor(model => model.Quantity) : <b>@Html.DisplayFor(model => model.Quantity)</b>
					<hr />
					@using (Html.BeginForm("Add", "Cart", FormMethod.Get))
					{
					<div class="form-group-sm">
						@Html.HiddenFor(model => model.ProductId)
						<label for="quantity">Ilość Sztuk</label>
						<input type="number" id="quantity" name="quantity" min="0" max="@Model.Quantity" value="1" class="form-control">
					</div>
						<br />
						<button type="submit" class="btn btn-lg btn-danger" >Dodaj do Koszyka <i class="glyphicon glyphicon-shopping-cart"></i></button>
					}
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				@Html.DisplayNameFor(model => model.Description)
			</h3>
			<p>@Html.DisplayFor(model => model.Description)</p>
		</div>
	</div>
</div>

