@model SimpleShop.Models.ViewsModels.CategoryProductVM

@{
	ViewBag.Title = "Index";
}


<div class="container">
	<div class="row">
		<div class="col-md-6"><h2>Produkty</h2></div>
		<div class="col-md-6">
			@using (Html.BeginForm("Search", "Product", FormMethod.Get))
			{
				<div class="input-group search-container">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</span>
					<input type="text" name="name" class="form-control" placeholder="Wyszukaj ...">
				</div>
			}
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<h4>Kategorie</h4>
			<ul class="list-group">
				@foreach (var item in Model.categories)
				{
					<li class="list-group-item"><a href="@Url.Action("Category", "Product", new {id = item.CategoryId})">@item.Name</a></li>
				}
			</ul>
			<hr />
			<h4>Ze względu na cenę</h4>
			@using (Html.BeginForm("SearchByPrice", "Product", FormMethod.Get))
			{
				<div class="form-group-sm">
					<input type="number" name="min" placeholder="Minimalna" class="form-control ">
					<br />
					<input type="number" name="max" placeholder="Maksymalna" class="form-control">
					<br />
					<button type="submit" class="btn btn-sm btn-primary">Potwierdź</button>
				</div>
			}

		</div>
		<div class="col-md-10">
			<div id="products" class="row list-group">
				@foreach (var item in Model.product)
				{
					<div class="item  col-xs-4 col-lg-4">
						<div class="panel panel-primary panel-product">
							<div class="panel-heading">@Html.DisplayFor(modelItem => item.Name)</div>
							<div class="panel-body">
								<a href="@Url.Action("Details", "Product", new {id = item.ProductId})">
									<img class="group index-product-img" src="@Url.Content("~/UploadedFiles/" + @item.Img)" alt="" />
								</a>
								<hr />
								<div class="caption">
									<p class="group inner list-group-item-text">
										@{
											string excert = item.Description.Substring(0, 130) + "...";
											@excert
											;
										}
									</p>
									<hr>
									<div class="row mt-small">
										<div class="col-xs-12 col-md-7">
											<p class="lead">
												<b>@Html.DisplayFor(modelItem => item.Price)</b>
											</p>
										</div>
										<div class="col-xs-12 col-md-5">
											<a class="btn btn-danger" href="@Url.Action("Add", "Cart", new {id = item.ProductId})">Koszyk <i class="glyphicon glyphicon-shopping-cart"></i></a>
										</div>
										@if (Request.IsAuthenticated && User.IsInRole("Administrator"))
										{

											<div class="col-xs-12 col-md-12">
												<hr>
												<a class="btn btn-warning" href="@Url.Action("Edit", "Product", new {id = item.ProductId})"><i class="glyphicon glyphicon-pencil"></i></a>
												<a class="btn btn-danger" href="@Url.Action("Delete", "Product", new {id = item.ProductId})"><i class="glyphicon glyphicon-trash"></i></a>
											</div>
										}
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
			@if (Request.IsAuthenticated && User.IsInRole("Administrator"))
			{
				<a class="btn btn-success" href="@Url.Action("Create", "Product")"> <i class="glyphicon glyphicon-plus"></i> Dodaj</a>

			}
		</div>
	</div>
</div>







